.ar-footer {
    background-color: rgb(0, 0, 0);
    font-family: 'Montserrat',sans-serif;
    height: 3.8em;
    font-size: 1em;
    text-align: center;

  

}
.ar-footer-divider  {
    background: rgb(82, 81, 81);
    margin: 0em;
    
  
}
.ar-footer-eweb {
    text-align: center;
    margin-top: 1em;
}
.ar-footerp {
    color: rgb(187, 187, 187);
    font-size: .9em;
    text-align: left;
    flex:2;
    padding-left: 3em;
    letter-spacing: .02rem;
    font-family: 'Open Sans', sans-serif; 
}
.ar-footer-divider .ant-divider-horizontal {
    margin: 0em;
    
    color: rgb(116, 116, 116);
}
.ar-footer-divider .ant-divider {
    background: rgb(160, 160, 160);
    padding-top: -1em;
}


.ar-footer-quote {
    color: rgb(160, 156, 156);
    font-size: 1.2em;
    font-family: 'Bangers', cursive;
    /* font-family: 'Walter Turncoat', cursive; */
    letter-spacing: 2px;
    text-align: center;
    margin-bottom: 0em;

    /* padding-left: 26.55em; */
}

.ar-footer-author {
    color: rgb(255, 255, 255);
    font-size: 1em;
    font-family:'Montserrat',sans-serif;
    font-weight: 400;
    padding-left: 23em;
    margin-top: -.5em;
    text-align: center;
}



.ar-footer-email  ,.ar-footer-web {
    color: rgb(0, 0, 0);
    font-size: 1.1em;
    font-family: 'Montserrat',sans-serif;

}
.ar-footer-web{
    margin-top: -.5em;
}
.ar-footer-email {
    padding-top: -5em;
}
.ar-footer-content {
    font-family:  'Montserrat',sans-serif;
    font-weight: 400;
    font-size: 1.5em;
    margin-bottom: -.5em;
    margin-top: 1em;
}



.ar-footer-1 {
    padding-left: 0;
    padding-top: 0;
    align-content: center;
    justify-content: space-around;
    flex-direction: row;
}

.ar-footer-hyper {
    text-align: right;
    /* margin-top: -2em; */
    margin-bottom: 0;
    float:right; 
    padding-right: 4em;   
}
.ar-footer-hyper .ant-btn-link {
    color: rgb(255, 255, 255);
}

.ar-footer-hyper .ant-btn-link:hover  {
    color: rgb(255, 255, 255);
}
.ar-footer-hyper .ant-btn-link:active {
    color: rgb(255, 255, 255);
}
.ar-footer-hyper .ant-btn-icon-only {
    padding:0;

    font-size: 20px;
}
.ar-youtube .ant-btn-icon-only {
    font-size: 25px;
    color: rgb(255, 255, 255);
    padding-right: 20px;
}
.ar-linkedin {
    font-size: 25px;
    color: rgb(255, 255, 255);
    padding-left: 10px;
}
.ar-vimeo {
    font-size: 25px;
    color:rgb(255, 255, 255);
    padding-left: 10px;
}
.ar-twitter {
    font-size: 25px;
    color: rgb(255, 255, 255);
    padding-left: 10px;
}

.ar-black {
    background: rgb(0, 0, 0);
    margin-bottom: -2em;
    margin-top: -1em;
}
.ar-footer-1 .row {
    margin-left: 0;
    margin-right: 0;
}
.ar-footer-all {
    color: rgb(187, 187, 187);
    text-align: left;
    padding-left: 3.8em;
    font-size: .8em;
    margin-bottom: 0em;
    letter-spacing: .02rem;
    font-family: 'Open Sans', sans-serif; 
}
.ar-footer-hyper .ant-btn-link:focus {
    color: rgb(255, 255, 255);
}